#######################################
# Vhost
#######################################
{% for vhost in WEB.vhost %}

# Vhost for "{{ vhost.serverName }}"

<VirtualHost *:80>
  ServerName "{{ vhost.serverName }}"
  ServerAlias "{{ vhost.serverAlias }}"
  DocumentRoot "{{ vhost.documentRoot|default('<DOCUMENT_ROOT>') }}"

  UseCanonicalName Off

  <IfVersion < 2.4>
    Include /opt/docker/etc/httpd/vhost.common.d/*.conf
  </IfVersion>
  <IfVersion >= 2.4>
    IncludeOptional /opt/docker/etc/httpd/vhost.common.d/*.conf
  </IfVersion>
</VirtualHost>

<VirtualHost *:443>
  ServerName "{{ vhost.serverName }}"
  ServerAlias "{{ vhost.serverAlias }}"
  DocumentRoot "{{ vhost.documentRoot|default('<DOCUMENT_ROOT>') }}"

  UseCanonicalName Off

  <IfVersion < 2.4>
    Include /opt/docker/etc/httpd/vhost.common.d/*.conf
  </IfVersion>
  <IfVersion >= 2.4>
    IncludeOptional /opt/docker/etc/httpd/vhost.common.d/*.conf
  </IfVersion>

  Include /opt/docker/etc/httpd/vhost.ssl.conf
</VirtualHost>

{% endfor %}
