[client]
host="{{ DOCKER.MYSQL_HOST }}"
port="{{ DOCKER.MYSQL_PORT }}"
user="root"
password="{{ DOCKER.MYSQL_ROOT_PASSWORD }}"

[mysql]
host="{{ DOCKER.MYSQL_HOST }}"
port="{{ DOCKER.MYSQL_PORT }}"
user="root"
password="{{ DOCKER.MYSQL_ROOT_PASSWORD }}"
database="{{ DOCKER.MYSQL_DATABASE }}"
default-character-set=utf8
local-infile=1
show-warnings
auto-rehash
sigint-ignore
reconnect

[mysqldump]
host="{{ DOCKER.MYSQL_HOST }}"
port="{{ DOCKER.MYSQL_PORT }}"
user="root"
password="{{ DOCKER.MYSQL_ROOT_PASSWORD }}"
