[client]
host=mysql
user="root"
password="{{ lookup('env','MYSQL_ROOT_PASSWORD') }}"

[mysql]
host=mysql
user="root"
password="{{ lookup('env','MYSQL_ROOT_PASSWORD') }}"
database="{{ lookup('env','MYSQL_DATABASE') }}"
default-character-set=utf8
local-infile=1
show-warnings
auto-rehash
sigint-ignore
reconnect

[mysqldump]
host=mysql
user="root"
password="{{ lookup('env','MYSQL_ROOT_PASSWORD') }}"
