#######################################
# Vhost
#######################################
{% for vhost in WEB.VHOST %}

# Vhost for "{{ vhost.serverName }}"

server {
    listen  80;

    server_name  {{ vhost.serverName }} {{ vhost.serverAlias }};
    access_log   /dev/stdout;
    error_log    /dev/stdout info;

    root "{{ vhost.documentRoot|default('<DOCUMENT_ROOT>') }}";
    index "{{ vhost.documentIndex|default('<DOCUMENT_INDEX>') }}";

    client_max_body_size 50m;

    location / {
        try_files $uri $uri/ /{{ vhost.documentIndex|default('<DOCUMENT_INDEX>') }}?$query_string;
    }

    location ~ \.php$ {
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass php;
        include fastcgi_params;

        fastcgi_param SCRIPT_FILENAME     $request_filename;

        fastcgi_param MYSQL_USER          "<MYSQL_USER>";
        fastcgi_param MYSQL_PASSWORD      "<MYSQL_PASSWORD>";
        fastcgi_param MYSQL_ROOT_USER     "root";
        fastcgi_param MYSQL_ROOT_PASSWORD "<MYSQL_ROOT_PASSWORD>";
        fastcgi_param MYSQL_DATABASE      "<MYSQL_DATABASE>";

        fastcgi_param POSTGRES_USER       "<POSTGRES_USER>";
        fastcgi_param POSTGRES_PASSWORD   "<POSTGRES_PASSWORD>";

        fastcgi_read_timeout 1000;
    }

    include /opt/docker/etc/nginx/vhost.common.conf;
}

##############
# SSL
##############

server {
    listen  443;

    server_name  {{ vhost.serverName }} {{ vhost.serverAlias }};
    access_log   /dev/stdout;
    error_log    /dev/stdout info;

    root "{{ vhost.documentRoot|default('<DOCUMENT_ROOT>') }}";
    index "{{ vhost.documentIndex|default('<DOCUMENT_INDEX>') }}";

    client_max_body_size 50m;

    location / {
        try_files $uri $uri/ /{{ vhost.documentIndex|default('<DOCUMENT_INDEX>') }}?$query_string;
    }

    location ~ \.php$ {
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass php;
        include fastcgi_params;

        fastcgi_param SCRIPT_FILENAME     $request_filename;

        fastcgi_param MYSQL_USER          "<MYSQL_USER>";
        fastcgi_param MYSQL_PASSWORD      "<MYSQL_PASSWORD>";
        fastcgi_param MYSQL_ROOT_USER     "root";
        fastcgi_param MYSQL_ROOT_PASSWORD "<MYSQL_ROOT_PASSWORD>";
        fastcgi_param MYSQL_DATABASE      "<MYSQL_DATABASE>";

        fastcgi_param POSTGRES_USER       "<POSTGRES_USER>";
        fastcgi_param POSTGRES_PASSWORD   "<POSTGRES_PASSWORD>";

        fastcgi_read_timeout 1000;
    }

    include /opt/docker/etc/nginx/vhost.common.conf;
    include /opt/docker/etc/nginx/vhost.ssl.conf;
}

{% endfor %}
