#######################################
# Vhost
#######################################
{% for vhost in WEB.vhost %}

# Vhost for "{{ vhost.serverName }}"

server {
    listen  80;

    server_name  {{ vhost.serverName }}{% if vhost.serverAlias is defined %} {{ vhost.serverAlias }}{% endif %};

    access_log   /dev/stdout;
    error_log    /dev/stdout info;

    root "{{ vhost.documentRoot|default('<DOCUMENT_ROOT>') }}";
    index "{{ vhost.documentIndex|default('<DOCUMENT_INDEX>') }}";

    client_max_body_size 50m;

    include /opt/docker/etc/nginx/vhost.common.d/*.conf;

{% if vhost.vhost_extra is defined %}
    include /opt/docker/etc/nginx/vhost.extra.d/{{ vhost.serverName }}.conf
{% endif %}
}

##############
# SSL
##############

server {
    listen  443;

    server_name  {{ vhost.serverName }}{% if vhost.serverAlias is defined %} {{ vhost.serverAlias }}{% endif %};

    access_log   /dev/stdout;
    error_log    /dev/stdout info;

    root "{{ vhost.documentRoot|default('<DOCUMENT_ROOT>') }}";
    index "{{ vhost.documentIndex|default('<DOCUMENT_INDEX>') }}";

    client_max_body_size 50m;

    include /opt/docker/etc/nginx/vhost.common.d/*.conf;
{% if vhost.vhost_extra is defined %}
    Include /opt/docker/etc/nginx/vhost.extra.d/{{ vhost.serverName }}.conf
{% endif %}
    include /opt/docker/etc/nginx/vhost.ssl.conf;
}

{% endfor %}
